body {
  font-family: Arial;
  min-width: 350px;
  min-height: 700px;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 15px;
  margin-bottom: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#example_filter input {
  border: 0;
  outline: 0;
  background: transparent;
  border-radius: 0;
  border-bottom: 1px solid black;
  margin: 5px;
  padding: 5px;
  width: 340px;
  font-size: large;
}



table.dataTable tfoot th {
  border-top: 0;
}


td {
  background: transparent;
  border: 0.5px solid grey;
  padding: 10px;
  margin: 10px;
  width: 300px;
  font-size: large;
}



a:link {
  color: black;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
}

/* selected link */
a:active {
  color: black;
  text-decoration: none;
}

p {
  color: gray;
  font-size: medium;
}

tag-grey {
  background: grey;
  border-style: 2px solid grey;
  border-radius: 5px;
  padding: 2px;
  font-size: 14px;
  color: white;
}

info {
  font-size: x-small;
  margin-top: 10px;
}

tag-grey-question {
  background: grey;
  border-style: 2px solid grey;
  padding-left: 3px;
  padding-right: 3px;
  color: white;
  font-size: 9px;
}

/* datatables info color */
div.dataTables_info {
  color: #FE6700 !important;
  font-size: medium !important;
  font-family: arial !important;
}

/* search box to the left */
.dataTables_filter {
  float: left !important;
}

/* search cancel button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(cancel-button.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
